html {
	height: 100%;
}
body {
	height: 100%;
	background: url(../image/fon.png) repeat;
	font: normal 1em 'fira_sanskight';
	color: #4a545d;
}
/* прибить футер к низу */
.wraper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto !important;
}
.wraper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer {
	min-width: 970px;
	height: 80px;
	margin-top: -80px;
}
/* Конец прибитого футера */
/* HEADER */
.container-big {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page-header {
	height: 119px;
	background: #eff3f7 url(../image/line.png) bottom center no-repeat;
	position: relative;
	margin-bottom: 39px;
	width: 100%;
}
.page-header .header-logo-link {
	position: absolute;
	top: 39px;
	left: 0;
}
.page-header .header-logo-text {
	position: absolute;
	left: -9999px
}
.page-header .socials {
	position: absolute;
	right: 0;
	top: 36px;
}
/* Header END */

/* Социальные сети ссылки */
.socials {
	margin: 0;
	padding: 0;
	min-width: 260px;
}
.socials .socials-item {
	list-style: none;
	display: inline-block;
	height: 47px;
	width: 47px;
	margin-left: 19px;
}
.socials .socials-item:first-child {
	margin-left: 0;
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../image/sprite.png) no-repeat;
}
.socials .socials-link.vk {background-position: 0px 0px;}
.socials .socials-link.tw {background-position: 0px -141px;}
.socials .socials-link.fb {background-position: -1px -47px;}
.socials .socials-link.gt {background-position: -1px -94px;}
.socials .socials-link.vk:hover {background-position: -47px 0px;}
.socials .socials-link.tw:hover {background-position: -48px -141px;}
.socials .socials-link.fb:hover {background-position: -48px -47px;}
.socials .socials-link.gt:hover {background-position: -48px -94px;}

/* Сайдебар */
.sidebar {
	width: 250px;
	float: left;
}

/*Навигация*/
.navigation {
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation .navigation-item {
	border-top: 2px solid #3ba8c0;
}

/* Навигация - текущий пункт меню */
.navigation .navigation-item.current {
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px; /* Хак */
}
.navigation .navigation-item.curent .navigation-link {
	color: #f9fafb;
	font-size: 22px;
}
/* Навигация - текущий пункт меню - конец */
.navigation .navigation-link {
	font-family: 'fira_sansbook';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 16px;
	padding: 20px 0px;
}
.navigation .navigation-link:hover {
	color: #3ba8c0;
}

/* Конец навигации */
/******/
/* Главная область */
.variable-content {
	width: 650px;
	float: right;
}
.page-footer {
	background: #eff3f7 url(../image/line.png) top center no-repeat;
	font-family: 'fira_sanslight';
	color: #4a545d;
}
.page-footer .container {
	padding-top: 23px;
	position: relative;
}
.page-footer .copyright {
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
}
/*Логин*/
.page-footer .lock {
	position: absolute;
	top: 26px;
	left: 20px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'fira_sansbook';
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: underline;
	background: url(../image/loc.png) no-repeat;
	padding-left: 24px;
}
.lock .lock-inner:hover {
	text-decoration: underline;
	background: url(../image/unloc.png) no-repeat;
}
/*Логин - конец */
/* Футер - конец */
/* Общие классы */
.container {
	width: 960px;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
/*clearfix*/
.container:before, .clearfix:before,
.container:after, .clearfix:after, {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}
/* clearfix - конец */
/* Общие классы */
.aboutbox{
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.aboutbox .aboutbox-header{
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 23px 0;
	padding: 13px 23px;
	display: inline-block;
}